[submodule "model/TexTeller"]
	path = model/TexTeller
	url = https://github.com/DPTPhatUS/TexTeller.git
[submodule "model/Tex2Eng/im2markup"]
	path = model/Tex2Eng/im2markup
	url = git@github.com:harvardnlp/im2markup.git
[submodule "model/Tex2Eng/TangentCFT"]
	path = model/Tex2Eng/TangentCFT
	url = git@github.com:BehroozMansouri/TangentCFT.git
